/* 
    Document   : FilesReader
    Created on : Feb 25, 2012, 4:47:58 PM
    Author     : alexey.lizenko
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.dropper {
   width: 400px;
   height: 400px;
   background: #ddd;
}
