audio {display: none;}
.row {
    width: 100%;
    height: 30px;
    position: relative;
    margin-bottom: 20px;
}
.rows {
}
.row img {
    cursor: pointer;
    margin-left: -16px;
}

.rows .sample {
    cursor: pointer;
    position: absolute !important;
    top: 0;
    height: 30px;
}
.rows .tools {
    position: absolute;
    display:none;
    top: 30px;
    left: 0px;
    z-index: 100;
    width: 110px;
    height: 20px;
    border:1px solid red;
    border-radius: 4px;
    padding: 4px;
    background: white;
}
.rows .tools .volume {
    width: 100px;
    height:10px;
    margin: 3px 10px;
}
.rows .tools .close {
    position: absolute;
    top: 0;
    right: 5px;
}
.sample {
    resize: horizontal;
    text-align: center;
    line-height: 30px;
}
.sample canvas {
    height: 30px;
    border:3px solid blue;
    position: absolute;
    top:0; left:0;
    z-index: 10;
    width: 100%;
    resize: horizontal;
}
.sample span {

}
input[type="range"] {
    width: 90px;
    display: block;

}

body {
    font-family: Arial;
    color:#710909;
}
h1 {
    font-size: 2.3em;
}
._site 
{
    top:0;
    left:0;
    margin:0px;
    padding:1%;
    background: #eff4f9;
    width:100%;
    height: 100%;
    position: fixed;
}
._site_table{
    width: 98%;
    height: 98%;
    border-collapse: collapse;
    /*border: 1px groove #fafafa;*/
    background: #f6f4f9;
}
._site_table tr td{
    border: 1px solid;
    border-color: #d1dbdb;
    padding: 1%;
}
._site_table_head_row td{
}
._site_table_head_row{
    height: 14%;
}
._site_titles_row {
    height: 0%;
}
._site_titles_row td{
    height: 0%;
    border-collapse: collapse;
    padding: 0.3% !important;
    margin: 0 !important;
    text-align: center;
    font-size: 0.78em;
}
._site_table_left_cell {
    width: 19%;
}

._site_table_control_cell
{
    height: 4em;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.play_off{
    border-left-color: #9d9e9e!important;
}
.stop_off {
    background-color: #9d9e9e !important;
}
.play_button {
    width: 4.5%;
    padding: 0 0.5em;
    float: left;
    cursor: pointer;
}
.stop_button {
    width: 5%;
    padding-left: 1em;
    padding-right: 2em;
    float: left;
}
.play_button div {

    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;

    border-left: 44px solid;
    border-left-color: #b86767;

}
.stop_button .stop_button_part {
    width: 100%;
    padding-right: 10px;
    height: 60px;
    float:left;
    background-color: #b86767;
    margin-top: 0.2em; 
    height: 3em;
}

.stop_button .space {
    width:6px;
    float:left;
    height: 10px;
}
.progress {
    width: 78%;
    height: 3.3em;
    float:left;
    position: relative;
}
.progress .line {
    width: 100%;
    background: #b86767;
    height: 5px;
    position: absolute;
    bottom: 0;
}
.progress .bar {
    width: 30px;
    height: 20px;
    bottom: 0;
    position: absolute;
    background: #b86767;
}

._site_table_right_cell {
    width: 18%;

}
.track_info {
    padding-left: 12px;
}
.track_handler{
    width: 96%;
    height: 96%;
    padding: 2%;
}
.track_item {
    height: 30px;
    width: 100%;
    margin-bottom: 3%;
}
.sample_icon{
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;

    border-left: 26px solid;
    border-left-color: #a9df9a;
    
    
    position:absolute;
    left: 0;
    top:1px;
    cursor: pointer;
}
.sample_row{
    background: #fff;
    width: 90%;
    position:absolute;
    left: 10%;
    height: 100%;
}
.sample_category{
    font-size: 1em;
    font-weight: bold;
}
.sample_category_item {
    font-size: 0.9em;
    padding-left: 1em;
}
._site_table_left_cell{
    vertical-align: top;
    margin: 1% !important;
}
.addRow{
    display: block;
    width: 100%;
    border:0px;
    padding: 5px;
    background: #99cf7a;
    font-weight: bold;
    color:#fff;
    border-radius: 5px;
    float:right;
    width: 10em;
    margin-right: 2%;
}