h1 {color:red;}
audio {display: none;}
.row {
    width: 100%;
    height: 30px;
    border:1px dotted silver;
    padding: 4px;
}
.row img {
    cursor: pointer;
    
}
.rows canvas {
    height: 30px;
    border:1px solid blue;
    position: relative;
}